body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
}
.container {
    margin: auto;
    background-color: orange;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
}
h1 {
    text-align: center;
}
input {
    width: 240px;
    height: 26px;
    border: none;
}
input::placeholder {
    padding-left: 4px;
    border: none;
}
input[type=text]:focus {
    padding-left: 4px;
    border: none;
    outline: none;
}

button {
    width: 100px;
    height: 28px;
    background-color: #fff;;
    border: none;
}
#lista {
    margin: auto;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    padding: 0px 0px 10px 0px;
}
li {
    border-radius: 4px;
    background-color: orange;
    list-style-type: none;
    margin: 4px;
    height: 20px;
    font-weight: bold;
    padding: 2px 0px 2px 0px;
}